#fieldTableBG {
    position: static;
    width: 845px;
    height: 462px;
    background-repeat: round;
    background-image: url(../public/img/playerField.jpg);
    z-index: 1;
    right: 0;

}

#actionFieldBG{

}

#actionField {
    display: grid;
    position: fixed;
    width: 618px;
    height: 918px;
    background-repeat: round;
    background-image: url(../public/img/actionField1.jpg);
    left: 10px;
    top: 10px;
    align-content: space-evenly;
    grid-template-areas:
    "actionCard1 actionCard2 clearBlock "
    "actionCard3 actionCard4 clearBlock "
    "actionCard5 actionCard6 clearBlock ";
}

.clearBlock {
    display: grid;
    grid-area: clearBlock;
    width: 180px;
    grid-row-gap: 30px;
}

.item0 {
    width: 180px;
    height: 130px;

}

.item1 {
    grid-area: actionCard1;
    width: 180px;
    height: 270px;
}

.item2 {
    grid-area: actionCard2;
    width: 180px;
    height: 270px;
}

.item3 {
    grid-area: actionCard3;
    width: 180px;
    height: 270px;
}

.item4 {
    grid-area: actionCard4;
    width: 180px;
    height: 270px;
}

.item5 {
    grid-area: actionCard5;
    width: 180px;
    height: 270px;
}

.item6 {
    grid-area: actionCard6;
    width: 180px;
    height: 270px;
    position: relative;
}

#fieldTable {
    width: 810px;
    height: 480px;
    position: absolute;
    top: -5px;
    left: 35px;
    border-collapse: separate;
    border-spacing: 30px 25px;
}

.fieldCell {
    width: 115px;
    height: 115px;

}

.hidden { display: none; }

#menuBlock {
    position: fixed;
    z-index: 1;
    right: 0;
    top: 10%;
}

#menu {
    position: fixed;
    right: 0;
}

.icon {
    width: 30px;
    height: 30px;
}

.materialsTable {
    z-index: 9999;
    position: fixed;
    left: 30%;
    top: 0;
    grid-template-columns: repeat(7, 100px);
}

